:root {
  --max-width: 1200px;
  --font: var(--font-poppins);
  --color-300: #6f717d;
  --color-500: #3f4047;
  --color-700: #0f0f11;
  --bg-300: #ffffff;
  --bg-500: #edefff;
  --bg-700: #dddddd;
  --border-500: #dee2e6;
  --main-300: #9590d7;
  --main-500: #716aca;
  --main-700: #4d44bd;
  --shadow-500: 0 1px 15px rgba(69,65,78,.1);
}
*,
*::before,
*::after {
  box-sizing: border-box;
}

/**
 * BASE
 */
html{
  font-size: 14px;
}
@media (min-width: 1200px) {
  html {
    font-size: 15px;
  }
}
@media (min-width: 1400px) {
  html {
    font-size: 16px;
  }
}
body{
  position: relative;
  margin: 0;
  font-size: 1rem;
  font-family: var(--font);
  font-weight: 300;
  line-height: 1.5;
  color: var(--color-500);
  background-color: var(--bg);
  -webkit-text-size-adjust: 100%;
  -webkit-overflow-scrolling: touch;
  overflow-x: hidden;
  overflow-y: auto;
}

/**
 * Animations
 */
@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}
